body {
    margin: 0px;
}
#gameContainer{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    background-color: rgb(148, 228, 241);
    font-size: 2.2vh;
    display: none;
}

#worldAndContinentsHolder{
    display: grid;
    grid-template-rows: 1fr 6fr;
    border: solid black 1.3px;
    border-right: 0;
}

#upgradesAndLogHolder{
    display: flex;
    flex-direction: column;
}

#upgradesContainer, #logContainer{
    height: 41vh;
    overflow-y: scroll;
    width: 99.8%;
    border: solid black 1px;
}

#upgradesContainer{
    height: 44.5vh;
}

#globalStatsContainer{
    border: solid black 1px;
    border-bottom: 0;
}

#continentsContainer{
    border-top: solid black 1px;
    background-image: url("./assets/grid.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


svg {
    overflow: auto;
    padding-top: 3vh;
    width: 50vw;
    
}

path {
    fill: white;
    user-select: none;
	cursor: pointer;
}

path:hover {
    fill: rgb(28, 168, 121);
}

.land {
    fill-opacity: 1;
    stroke: white;
    stroke-opacity: 1;
    stroke-width: 0.1;
}

#inputFrame {
    border: solid 2px black
}

div .smallContinents {
    display: inline-block;
    margin: 2%;
    padding: 2px;
    width: 6vw;
    height: 30vh;
}

div .smallContinents img {
        margin: 0 auto;
        width: 6vw;
}

div .smallContinents p {
    text-align: center;
}

#inputFrame {
    width: 80%;
    margin: auto;
    background: gray;
}

#inputFrame input {
    
}

#selectContinent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 80%;
    margin: 0 auto;
    height: 40vh;
}
