#updatesMenuContainer {
    margin: 10vh auto;
    background-color: rgba(0, 0, 0, 0.151);
    border-radius: 30px;
    width: 55vw;
    display: none;
}

#itemsContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 10vh;
    overflow-y: scroll;
    height: 58vh;
}

#upgradesLabel{
    font-size: 5vw;
    margin: 0 auto; 
    padding: 3vh;
    border-bottom: 0.5vh white solid;
}

.upgradeContainer{
    width: 30vw;
    margin: 0 auto 1vh auto;
    padding: 3vh;
    border-bottom: 2px solid white;
    display: block;
    position: relative;
    font-size: 3vh;
}
.upgradeName{
    padding-bottom: 2vh;
}
.purchace{
    position: absolute;
    right: 0%;
    background-color: rgba(94, 150, 235, 0.3);
}

.purchace span{
    padding: 1.5vh;
}

#gameWrapper{
    display: block;
}