#gameContainer{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

#worldAndContinentsHolder{
    display: grid;
    grid-template-rows: 1fr 6fr;
}

#upgradesAndLogHolder{
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
}

#upgradesContainer, #logContainer{
    height: 20vh;
    overflow-y: scroll;
    width: 100%;
}